.projects {
  width: 90vw;
  background-color: #3A3A3A;
  border-radius: 10px;
  margin: 40px 0;
  padding-bottom: 32px;
  border: 1px solid red;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

h2 {
  text-align: center;
}
