.skills {
  margin: 32px 0;
}

.skills-language {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;

  a {
    text-decoration: none;
    font-size: 80px;
  }
}

@media (min-width: 600px) {
  .skills-language {
    max-width: 50%;
    font-size: 90px;
    a {
        text-decoration: none;
        font-size: 90px;
      }
  }
}
