.not-found {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    a {
        color: white;
        font-weight: bolder;
    }
    a:hover {
        color: #c04071;
    }
}

.not-found-text {
    h2{
        border: none;
        padding: 0;
        margin: 0;
    }
}
