.navbar {
  position: fixed;
  top: 0;
  z-index: 9;
  height: 50px;
  width: 100vw;
  display: flex;
  background-color: #101829;
  // color: #fff;
  justify-content: flex-end;
  align-items: center;
}

li {
  text-transform: uppercase;
  // font-weight: 700;
}

.desktop-list {
  display: none;
}

.mobile-hamburger {
  font-size: x-large;
  margin-right: 16px;
  margin-top: 8px;
  color: #FFF;
  cursor: pointer;
}

.mobile-hamburger:hover {
  transition-duration: 200ms;
  color: #A43560;
}

.mobile-list {
  display: none;
}

.mobile-list-active {
  font-weight: 700;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #101829;
  height: 100vh;
  width: 100vw;
  top: 50px;
}

.mobile-list-active li {
  font-size: 36px;
  margin-bottom: 36px;
}

.mobile-list-active li:hover {
  color: #A43560;
  cursor: pointer;
}

.desktop-list {
  margin: 0;
  display: flex;
  margin-right: 24px;
  list-style: none;
  display: none;
  cursor: pointer;
}

.desktop-list li:hover {
  color: #A43560;
}

.desktop-list li {
  margin-left: 16px;
}


@media (min-width: 568px) {
  .desktop-list {
    display: inline-flex;
  }

  .mobile-hamburger, .mobile-list {
    display: none;
  }

  .mobile-list-active {
    display: none;
  }
}
