.card {
  width: 400px;
  height: 500px;
  border: 1px solid green;
}

.preview {
  height: 80%;
}

.info {
  height: 20%;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid blue;
}

.info ul {
  display: flex;
  list-style: none;
}

.language {
  font-size: 24px;
  margin-left: 8px;
}
