main {
  display: flex;
  background-color: #101829;
  flex-direction: column;
  align-items: center;
}

.projects, .about, .skills, .contact {
  width: 100%;
  padding: 50px 20px;
}

@media (min-width: 965px) {
  .projects, .about, .skills, .contact {
    padding: 50px 100px;
  }
}
