main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
}

.projects, .about, .skills, .contact {
  width: 100%;
  background-color: #121212;
  // border-radius: 10px;
  // margin: 16px 0;
  padding: 32px;
}

// @media (min-width: 540px) {
//   .projects, .about, .skills, .contact {
//     // margin: 24px 0;
//     // width: 85vw;
//   }
// }

// @media (min-width: 720px) {
//   .projects, .about, .skills, .contact {
//     // margin: 32px 0;
//     // width: 75vw;
//   }
// }
