.banner {
  padding: 0 32px;
  // margin-bottom: 16px;
  // width: 100vw;
  height: 100vh;
  background-color: #101829;
  // color: #C9CFE8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // line-height: 15px;
}

.banner-pink {
  color: #A43560;
  margin-bottom: 0;
}

.banner-photo img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 40px;
}

.banner-h1 {
  margin: 0;
  color: #ccd6f6;
}

.banner-h2 {
  text-align: left;
  margin: 0;
}

// .banner-intro {

// }

// @media (min-width: 540px) {
//   .banner{
//     margin-bottom: 24px;
//   }
// }

@media (min-width: 720px) {

  .banner-photo img {
    width: 350px;
  }

  .banner-intro {
    padding: 0 100px;
  }
}

@media (min-width: 965px) {
  .banner {
    flex-direction: row-reverse;
    padding: 0 150px;
  }

  .banner-intro {
    padding-left: 0;
  }
}
