.banner {
  padding: 0 32px;
  // margin-bottom: 16px;
  // width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 40px;
}

.blue {
  color: #6ADBC6;
}

// @media (min-width: 540px) {
//   .banner{
//     margin-bottom: 24px;
//   }
// }

// @media (min-width: 720px) {
//   .banner {
//     margin-bottom: 32px;
//   }
// }
